.divider {
  margin: 20px 0;
  text-align: center;
  overflow: hidden;
  color: #aaa;

  & > span {
    position: relative;
    padding: 0 10px;

    &:before, &:after {
      content: ' ';
      display: block;
      position: absolute;
      top: 50%;
      width: 2000px;
      height: 0;
      border-bottom: solid 1px #ddd;
    }

    &:before {
      right: 100%;
    }

    &:after {
      left: 100%;
    }
  }
}