@import "variables";

.file-styler {
  &-file {
    position: relative;
    overflow: hidden;

    & > span {
      .file-styler-uninitialized & {
        display: none;
      }
    }

    & > input[type="file"] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
    }
  }

  &-item {
    margin-bottom: 5px;
  }

  &-hidden {
    width: 0;
    height: 0;
    overflow: hidden;
  }

  &-image {
    display: none;
  }

  &-name {
    font-weight: 500;
    font-size: 14px;
    color: black;

    & > .icon {
      font-size: 24px;
      vertical-align: middle;
      margin-right: 10px;
      color: #555;

      &:before {
        content: '\e2bc';
      }
    }
  }

  &-add {
    cursor: pointer;
  }

  &-helper {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    outline: solid 1px #f00;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);

    .file-styler-crop & {
      display: block;
    }
  }

  &-clear {
    .file-styler-empty & {
      display: none;
    }
  }

  &-type-image {
    .file-styler {

      &-item {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 16.66667%;
        padding-bottom: 16.66667%;
        overflow: hidden;
        text-align: center;

        @media (max-width: $lg-min) {
          width: 12.5%;
          padding-bottom: 12.5%;
        }

        @media (max-width: $md-max) {
          width: 20%;
          padding-bottom: 20%;
        }

        @media (max-width: $sm-max) {
          width: 33%;
          padding-bottom: 33%;
        }

        @media (max-width: $xs-max) {
          width: 50%;
          padding-bottom: 50%;
        }

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      &-image {
        position: absolute;
        left: 0;
        top: 0;
        right: 6%;
        bottom: 0;
        display: block;

        &-inner {
          position: absolute;
          left: 50%;
          top: 50%;
          margin-right: -50%;
          max-width: 100%;
          max-height: 100%;
          transform: translate(-50%, -50%);
        }
      }

      &-name {
        display: none;
      }

      &-remove {
        position: absolute;
        right: 6%;
        top: 0;
        font-size: 32px;
        line-height: 17px;
        width: 20px;
        height: 20px;
        text-align: center;
        background-color: #f00;
        color: #fff;
        cursor: pointer;
      }
    }
  }

  &-compact {
    position: relative;

    .file-styler {

      &-item {
        width: 32px;
      }

      &-file {
        position: absolute;
        left: 0;
        top: 0;
        width: 32px;
        height: 32px;
        border: dashed 1px $cl-gray-light;
        background-color: transparent;
        font-size: 0;
        box-shadow: none;
      }

      &-clear {
        position: absolute;
        left: 0;
        top: 0;
        width: 32px;
        height: 32px;
        border: none;
        background-color: transparent;
        box-shadow: none;
        font-size: 0;
      }

      &-remove {
        display: none;
      }
    }
  }
}