@import "variables";

.pagination {
  font-size: 16px;

  & > li {
    & + li {
      & > a {
        margin-left: 5px;
      }
    }

    & > span, & > a {
      display: inline-block;
      min-width: 2em;
      padding: 0.5em 0;
      text-align: center;
      line-height: 1;
      color: inherit;
      border: none;
      border-radius: 50%;
    }

    & > a {
      &:hover, &:focus, &:active {
        color: inherit;
        background-color: #ccc;
      }
    }

    &.active {
      & > a {
        color: white;
        background-color: $cl-primary;

        &:hover, &:focus, &:active {
          background-color: $cl-primary;
        }
      }
    }

    &:first-child, &:last-child {
      & > a, & > span {
        border: none;
        border-radius: 50%;
      }
    }

    &.disabled {
      & > a, & > span {
        &, &:hover, &:focus {
          background-color: #f6f6f6;
        }
      }
    }
  }
}